.main {
  margin-left: 0px;
  font-weight: bold;
  padding-top: 20px;
  margin-left: 20px;
}
.head{
  display: flex;
  flex-direction: row-reverse;
  width: 40px;
  height: 40px; 
  padding-left: 425px;
}
.bell{
  margin-right: 5px;
}
.user{
  margin-left: 10px;
}
.arr{
  
  margin-left: 20px;
  margin-right: 20px;
}
.arr-element{
  background-color: rgb(33,87,224);
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.home{
  display: flex;
  flex-direction: row-reverse;
  width: 20px;
  height: 20px;
}
.chart{
  display: flex;
  width: 20px;
  height: 20px;
}
.circular-section {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.icon {
  width: 40px;
  height: 40px;
  background-color: rgb(8,145,178);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* margin: 10px; */
  cursor: pointer;
}

.shop{
  display: flex;
  width: 20px;
  height: 20px;
}
.menu{
  display: flex;
  width: 20px;
  height: 20px;
}
